<section class="about spy" id="about">
  <div class="container">
    <div class="about__row">
      <div class="about__col">
        <img class="image" src="assets/doctor.jpg" alt="" width="400" height="520" />
      </div>
      <div class="about__col">
        <h2 class="about__title">About Dr. Courtney Williams, Family Doctor</h2>
        <h3 class="about__subtitle">Dr. Courtney Williams, F.D., is one of the top family medicine practitioners in the United States.</h3>
        <p class="about__description">As one of the most experienced family doctors in the area, Dr. Courtney Williams, F.D., has experience in emergency medicine and physical therapy. Her professional background allows her to deliver the utmost level of health care for her patients. You can expect high-quality approach from Dr. Williams.</p>
        <ul class="about__list">
          <li class="about__listItem">
            <mat-icon class="about__checkIcon">check</mat-icon> Emergency &amp; express care services
          </li>
          <li class="about__listItem">
            <mat-icon class="about__checkIcon">check</mat-icon> Home care &amp; medication therapy management
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>