.general-cites-section{
    .cites{
        display: grid;
        grid-template-columns: 360px 1fr;
        gap: 2rem;
        margin: 3rem 0;
        max-width: 1024px;
    }
    
    .list{ 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #f8f8f8;
        padding: 1rem;
        position: relative;
    }
    
    .date-header{ 
        padding: 0.625rem 1rem;
        color: #1d1d1d;
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        position: sticky;
        left: 0;
        top: 70px;
        z-index: 10;
        background: rgba(255, 255, 255, .16);
        backdrop-filter: blur(10px);
    }

    /* app-cite-details{
        position: sticky;
        top: 100px;
    } */
    .NgxEditor__Content{
        min-height: 100px;
    }
}