.form-add-cite{
    padding: 1rem 0;
    gap: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    .form-group{ 
        margin-bottom: 1.5rem;
        width: calc(100%);
        &.full{
          
        }
    }
}

.info{ 
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 14px;

    .align-item{ 
        display: flex;
        align-items: flex-start;
        padding: 8px 12px;
        gap: .45rem;
        background: #f4f4f4;
        color: #000;
        border-radius: 6px;
        font-size: 14px;
        mat-icon{
            width: 18px;
            font-size: 18px;
            height: 16px;
            &:last-child{
                margin-left: 1rem;;
            }
        }
    }
}

.box-preview-image{ 
    height: 100%;
    width: 100%;
    position: relative;
    .preview-image{
        max-width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        aspect-ratio: 1;
        width: 100%;
        object-fit: contain;
    }

    .btn-delete{
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        z-index: 1;
        zoom: .7;
        background: var(--color-primary);
        mat-icon{ 
            color: #fff;

        }
    }
}