<section id="counter" class="counter">
    <div class="container">
        <div class="counter__row">
            <div class="counter__col">
                <div class="box-content-info">
                    <div class="text">
                        <h5>If you need any home service</h5>
                        <p>Feel free to call us 24hr emergency number</p>
                        <a href="#"><i class="icofont icofont-phone"></i>+88 315 67 39</a>
                    </div>
                    <button mat-raised-button color="primary">
                        <mat-icon aria-hidden="false" fontIcon="wallet" />
                        Contact me
                    </button>
                </div> 
              
            </div> 
            <div class="counter__col">
                <img class="counter__imgDoctor" src="assets/banner/doctor-profile.png" alt="">
            </div>
        </div>
    </div>
</section>